:root {
  --cl-primary: #1976d2;
  --cl-primary-20: #1976d217;
  --cl-primary-10: #1976d210;
  --cl-secondary: #304565;
  --cl-error: #c62828;
  --cl-neutral: rgba(60, 64, 67, 0.08);
  --cl-success: #27ae60;
  --cl-dark: #000000c4;
}
