.content {
  position: relative;
}
.background {
  -webkit-filter: brightness(40%);
  min-height: 400px;
  margin-inline: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.background-content {
  position: absolute;
  top: 13%;
  left: 43%;
  z-index: 30;
  color: white;
}
.text-content {
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
}
.text-content a {
  display: flex;
  color: white;
  text-decoration: none;
}
.text-content a:hover {
  color: rgb(0, 6, 90);
}
.content-bottom {
  position: relative;
  width: 1200px;
  margin-inline: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}
.title-bottom {
  font-size: 2.4rem;
  padding-bottom: 20px;
  border-bottom: 1px solid #969696;
}
.content-first {
  margin: 10px 0px;
  font-size: 1.4rem;
}
.text-bold {
  margin: 8px 0px;
  font-size: 1.4rem;
  font-weight: 700;
}
.text-contentBottom {
  font-size: 1.4rem;
  margin: 10px 0px;
}
.table {
  font-size: 1.4rem;
  display: flex;
}
.box-left {
  padding: 8px;
  border: 1px solid #777777;
  border-right: transparent;
}
.box-right {
  padding: 8px;
  border: 1px solid #777777;
}
.text-italic {
  font-style: italic;
  font-size: 1.4rem;
  margin: 10px 0px;
}
