.container {
  position: relative;
  display: flex;
  padding-top: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 -1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  overflow: hidden;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.logo {
  width: 40%;
}

.sign-image {
  height: 100%;
}

.sign-image {
  width: 100%;
}
.background {
  -webkit-filter: brightness(40%);
  min-height: 400px;
  margin-inline: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.background-content {
  position: absolute;
  top: 15%;
  left: 48%;
  z-index: 30;
  color: white;
}
.title-content {
  text-align: center;
}
.text-content {
  text-align: center;
  display: flex;
  color: white;
  text-decoration: none;
  align-items: center;
}
.text-content a {
  display: flex;
  color: white;
  text-decoration: none;
}
.text-content a:hover {
  color: rgb(0, 6, 90);
}
.main {
  background-color: #fff;
  padding: 30px 0 30px 0;
  display: flex;
}
.link a {
  text-decoration: none;
  color: black;
}
.router .link {
  padding-bottom: 15px;
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text {
  padding: 15px 0 15px 0;
  width: 400px;
  margin: auto;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.form-email,
.form-pass {
  padding-bottom: 10px;
}
.form-email input,
.form-pass input {
  width: 328px;
  padding: 8px 10px;
}
.button {
  padding-bottom: 15px;
}
.button button {
  width: 400px;
  text-align: center;
  padding: 8px 0 8px 0;
  background-color: black;
  color: white;
  cursor: pointer;
}

.button button:hover {
  background-color: rgb(30 41 59);
}

.form-pass {
  position: relative;
  width: fit-content;
  margin: 0 auto 10px;
}

.icon-visibility svg {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
