.back-to-top {
  position: fixed;
  bottom: 55px;
  right: 15px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  opacity: 0.5;
  background: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  z-index: 9999;
  padding: 0px;
  margin: 0px;
  display: grid;
  place-items: center;
  border: none;
  cursor: pointer;
}

.back-to-top:hover {
  opacity: 1;
}
