.container {
  padding: 10px 0px;
  text-align: center;
}
.content {
  border: 1px solid #dddddd;
  padding: 20px 10px;
  margin-inline: auto;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 10px;
  max-width: 800px;
}
.box-title {
  border-bottom: 1px solid #dddddd;
  padding: 0px 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-address {
  font-size: 2.4rem;
}
.add-address {
  transition: ease-in-out 0.3s;
  border: 1px solid #aaaaaa;
  background-color: white;
  padding: 10px 15px;
}
.add-address:hover {
  color: white;
  border: 1px solid #aaaaaa;
  background-color: rgb(30, 82, 253);
}
.box-address {
  border-top: 1px solid #dddddd;
  justify-content: space-between;
  display: flex;
  padding: 30px 20px;
}
.box-address-left {
  max-width: 500px;
  text-align: left;
}
.name-phone {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.phone {
  font-size: 1.4rem;
}
.address {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-style: italic;
}
.setting {
  font-size: 1.4rem;
  margin-top: 10px;
  padding: 3px 5px;
  border: 1px solid #304fff;
}
.click-update {
  transition: ease-in-out 0.3s;
  border: transparent;
  background-color: rgb(255, 253, 144);
  padding: 5px 8px;
  margin-left: 10px;
  cursor: pointer;
}
.click-update:hover {
  border: rgb(245, 241, 40);
  background-color: rgb(245, 241, 40);
}
.click-delete {
  transition: ease-in-out 0.3s;
  cursor: pointer;
  border: transparent;
  background-color: rgb(243, 125, 125);
  padding: 5px 8px;
  margin-left: 10px;
}
.click-delete:hover {
  border: rgb(247, 98, 98);
  background-color: rgb(241, 86, 86);
}
