.statisticCart {
  display: flex;
  align-items: center;
  &Item {
    margin-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
    padding: 10px 20px;
    border-radius: 8px;
    &-title{
      font-size: 20px;
      font-weight: 600;
    }
    &-info {
      font-size: 16px;
      font-weight: 600;
      // margin-top: 10px;
    }
    & i{
      padding: 10px;
      border-radius: 4px;
      font-size: 18px;
      color: #fff;
      margin-right: 10px;
    }
  }
}