.order-item {
  padding: 15px 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.order-item-content {
  position: absolute;
  width: 100%;
  left: 0;
  margin-bottom: 100px;
}

.tab-active {
  border-bottom: 3px solid rgb(2, 2, 2);
}
